ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #da453a;
}

li {
    float: right;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(104, 58, 58);
    opacity: .5;
}

body{
   
   background-color: #eae7dc;
    
}

.background-img{
    
    background-color:#8e8d8a; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left:200px;
    margin-right:200px;
padding-top:40px;
}


h1{
    color: white;
    text-align: center;
}


h2{
    color: white;
    text-align: center;
}


p{
    color:white;
}