.topnav{
    padding-left: 45px;
}
#logo{
    margin-right: 1000px;
    font-size: 30px;
}

a{
    text-decoration: none;    
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: red;
  }

#home-link{
    font-size: 20px;
    padding-right: 5px;
}

#service-link{
    font-size: 20px;
    padding-right: 5px;
}

#signup-link{
    font-size: 20px;
    padding-right: 5px;
}

#login-link{
    font-size: 20px;
    padding-right: 5px;
}

#logout-link{
    font-size: 20px;
    padding-right: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#home-about{
    text-align: center;
    color: aliceblue;
}

p{
    font-size: 20px;
}

body{
    background-color: #515c6d;
}

#home-h2{
    text-align: center;
    color: aliceblue;
}

#home-p{
    text-align: center;
    color: aliceblue;
}

#service-h1{
    text-align: center;
    color: aliceblue;
}

#service-p{
    text-align: center;
    color: aliceblue;
}

#service-ul{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

#signup-h1{
    text-align: center;
    color: aliceblue;
}

#signup-form{
    text-align: center;
    color: aliceblue;
}

#signup-table{
  padding-left: 625px;
  text-align: center;
    color: aliceblue;
}

#login-h1{
    text-align: center;
    color: aliceblue;
}

#login-form{
    text-align: center;
    color: aliceblue;
}

#welcome-h1{
  text-align: center;
  color: aliceblue;
}

#appliance-form{
  text-align: left;
  margin-left: 30px;
  color: aliceblue;
}