<!doctype <!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}}</title>
    
    </head>
    <body>
        <!--<div class="topnav">
            <a href="/" id="logo"><strong>ChimTech</strong></a>
            <a href="/" id="home-link">Home</a>
            
            {%if session["username"] == null%}
                <a href="/signup" id="signup-link">Signup</a>
                
                <a href="/login" id="login-link">Login</a>
            {%endif%}
            {%if session["username"] != null%}
                <a href="/logout" id="logout-link">Logout</a>
                <a href="/profile" id="profile-link">Profile</a>
            {%endif%}
            <a href="/companies" id="companies-link">Service</a>
        
        </div>-->

        
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ChimTech</a>
                </div>
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <br>
                    <li class="active"><a href="/companies">Service</a></li>
                    {%if session["username"] == null%}
                        <li class="active"><a href="/login">Login</a></li>
                        <li class="active"><a href="/signup">Signup</a></li>
                    {%endif%}
                    {%if session["username"] != null%}
                        <li class="active"><a href="/logout" id="logout-link">Logout</a></li>
                        <li class="active"><a href="/profile" id="profile-link">Profile</a></li>
                    {%endif%}
                    </ul>
                </div>
        </nav>
      

        {% block content %}
        {% endblock %}
    
    </body>
</html>