<!doctype <!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
            
            
            
        <title>{{title}}</title>
    
    </head>
    <body>
        <div class="topnav">
            <a href="/" id="logo"><strong>ChimTech</strong></a>
            <a href="/" id="home-link">Home</a>
            
            {%if session["username"] == null%}
                <a href="/signup" id="signup-link">Signup</a>
                
                <a href="/login" id="login-link">Login</a>
            {%endif%}
            {%if session["username"] != null%}
                <a href="/logout" id="logout-link">Logout</a>
                <a href="/profile" id="profile-link">Profile</a>
            {%endif%}
            <a href="/companies" id="companies-link">Service</a>
        
        </div>
        

        {% block content %}
        {% endblock %}
    
    </body>
</html>