<!doctype <!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <title>{{title}}</title>
    
    </head>
    <body>
        <div class="topnav">
            <a href="/" id="logo"><strong>ChimTech</strong></a>
            <a href="/" id="home-link">Home</a>
            <a href="/reviews" id="service-link">Reviews</a>
            {%if username == null%}
            <a href="/signup" id="signup-link">Signup</a>
            <a href="/login" id="login-link">Login</a>
            {%endif%}
            {%if username != null%}
            <a href="/logout" id="logout-link">Logout</a>
            {%endif%}
        </div>
        

        {% block content %}
        {% endblock %}
    
    </body>
</html>