{% extends "base.html" %}
{% block content %}
<h1 id="companies-h1">Current Company List</h1>
<a href="/add_companies" id="add-companies-link">Add Companies</a>
<ul id="companies-ul">

{% for company in companies %}
    <a href="{{company.site}}">{{company.name}}</a><br>
    <form action="/companies", method="POST">
        <input type="text" value="1" name="rating" style="display:none;">
        <input type="text" value = "{{company.name}}" style="display:none;" name="com">
        <input type="submit" value="Likes:{{company.rating}}">

    </form> 
{% endfor %}
</ul>


{% endblock %}