{% extends "base.html" %}
{% block content %}
<body>
    <h1 id="login-h1">Login</h1>
        <form id="login-form" method="POST">

            <label for = "username">User Name: </label>
            
            <input id = "login-username" type = "text" name = "username" value="" />
            {%if error%}
            <p style="color:red"> {{valid_username}}</p>
            {%endif%}

            <label for = "password">Password: </label>
            <input id = "password" type = "password" name = "password" />
            {%if error%}
            <p style="color:red"> {{valid_password}}</p>
            {%endif%}

            
            <input type="submit" value="Submit">
        </form>
</body>
{% endblock %}