{% extends "base.html" %}
{% block content %}
<body>
    <h1 id="service-h1">Reviews</h1>
    <p id="service-p">ChimTech is here to help you find the pros that you need to get your project done!</p>
    <br>
    <br>
    <ul id="service-ul">
        <li><a href="/cleaning_reviews">Cleaning</a></li>
        <li><a href="/restoration_reviews">Restoration</a></li>
        <li><a href="/inspection_reviews" >Inspection</a></li>
        <li><a href="/construction_reviews">Construction</a></li>
    </ul>
</body>

{% endblock %}