{% extends "base.html" %}

{% block content %}
<div id="signup-div">
<h1 id="signup-h1">Sign Up to ChimTech!</h1>
<form  method="post" id="signup-form">
    <table id="signup-table">
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{username}}" ><span style="color: #ff0000">{{valid_username}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"><span style="color: #ff0000">{{valid_password}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password"><span style="color: #ff0000">{{valid_password}}</span>
            </td>
        </tr>

        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="text" value="{{email}}" ><span style="color: #ff0000">{{valid_email}}</span>
            </td>
        </tr>

        <p>
            <label for="appliance">Appliance Type</label>
            <select name="appliance" id = "appliance">
              <option name="appliance1" value = " "> </option>
              <option name="appliance2" value = "Woodstove" >Woodstove</option>
              <option name="appliance3" value = "Fireplace">Fireplace</option>
              <option name="appliance4" value = "Gas Stove">Gas Stove</option>
              <option name="appliance5" value = "Gas Logs">Gas Logs</option>
            </select>
         </p>

        
    </table>
    <input class="button" type="submit" value="Signup"/>
</form>

   
</div>
{% endblock %}