{% extends "base.html" %}

{% block content %}
<h1 id="signup-h1">Register to ChimTech!</h1>
<form  method="post" id="signup-form">
    <table id="signup-table">
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{username}}" ><span style="color: #ff0000">{{valid_username}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"><span style="color: #ff0000">{{valid_password}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password"><span style="color: #ff0000">{{valid_password}}</span>
            </td>
        </tr>
    </table>
    <input class="button" type="submit" value="Signup">
</form>
{% endblock %}