{% extends "base.html" %}

{% block content %}
<h1 id="signup-h1">Sign Up to ChimTech!</h1>
<form  method="post" id="signup-form">
    <table id="signup-table">
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{username}}" ><span style="color: #ff0000">{{valid_username}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"><span style="color: #ff0000">{{valid_password}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password"><span style="color: #ff0000">{{valid_password}}</span>
            </td>
        </tr>

        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="text" value="{{email}}" ><span style="color: #ff0000">{{valid_email}}</span>
            </td>
        </tr>

    </table>
    <form id="appliance-form" >
        <p>
           <label>Appliance Type</label>
           <select id = "appliance">
             <option value = "1"> </option>
             <option value = "2" name="1woodstove">Woodstove</option>
             <option value = "3" name="2fireplace">Fireplace</option>
             <option value = "4" name="3gasstove">Gas Stove</option>
             <option value = "5" name="4gaslogs">Gas Logs</option>
           </select>
        </p>
    <input class="button" type="submit" value="Signup">
</form>
{% endblock %}